body{background-color:#FEFEFE;line-height:1.618;margin:0;font-family:sans-serif;font-size:1.125em}
main {
width:900px;
margin:0 auto 20px
}
#top {
  background-color:#45d1df;text-align:center;font-size:36px;text-transform:uppercase;letter-spacing:12px;
}
#top a{color:#FEFEFE;text-decoration:none}